@import 'bourbon';
@import 'base/base';
@import 'neat';

/* Custom variables */
$safe-colour: #aab971;
$danger-colour: #f05f5c;

.flex-container {
  display: flex;

  &.vertical {
    flex-direction: column;

    &.home-page {
      height: 100vh;
      justify-content: center;
    }
  }

  &.horizontal {
    flex-direction: row;

    &.home-page {
      width: 100vw;
      justify-content: space-around;
    }
  }
}

.main-title {
  padding-bottom: 70px;
  font-size: 2.5em;
}

.center {
  text-align: center;
}

.sparse {
  line-height: 3em;
}

.button {
  &.safe {
    background-color: $safe-colour;

    &:hover,
    &:focus {
      background-color: shade($safe-colour, 20%);
    }
  }

  &.danger {
    background-color: $danger-colour;

    &:hover,
    &:focus {
      background-color: shade($danger-colour, 20%);
    }
  }
}

body {
  font-family: Helvetica, sans-serif;
}
