@import 'bourbon';
@import 'base/base';
@import 'neat';

.flex-container {
  display: flex;

  &.vertical {
    flex-direction: column;

    &.home-page {
      height: 100vh;
      justify-content: center;
    }
  }

  &.horizontal {
    flex-direction: row;

    &.home-page {
      width: 100vw;
      justify-content: space-around;
    }
  }
}

.main-title {
  padding-bottom: 70px;
  font-size: 2.5em;
}

.center {
  text-align: center;
}

.sparse {
  line-height: 3em;
}

.button.danger {
  background-color: #f05f5c;

  &:hover,
  &:focus {
    background-color: shade(#f05f5c, 20%);
  }
}

body {
  font-family: Helvetica, sans-serif;
}
